* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,#2d3436 , #2e2e2e, #2d3436);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Chelsea Market', cursive;
    font-size: 16px;
}

canvas{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(13, 13, 15);
}

.result-container {
    background-color: #aaa69d;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.result-container #game-header{
    height: 20%;
    font-size: 2rem;
}
.result-container #score{
    height: 30%;
}
.result-container #next-block{
    align-self: center;
    height: 30%;
    width: 100%;
    text-align: center;
}
.result-container #contorls{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.result-container #contorls #controls__play{
    background-color: #27ae60;
    font-size: 1.5rem;
    height: auto;
    padding: 0.3rem 1.5rem;
    border-radius: 5px;
    border: 1px solid black;
}

.result-container #contorls #controls__play:hover{
    background-color: rgb(13, 13, 15);
    color:#27ae60;
    cursor: pointer;
}

.result-container #contorls #controls__play:active{
    transform: scale(0.95);
}