:root{
    --testing-outline: 0.1pt dotted black;
    --tile-width: calc(100% / 16);
    --tile-height: calc(100% / 16);
}

html{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body{
    width: 80%;
    height: 90%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.main-container{
    width: 60%;
    height: 60%; 
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    outline: var(--testing-outline);
    display: flex;
    flex-direction: row;
}

/* game container */

.main-container .game-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    outline: var(--testing-outline);
}

.main-container .game-container .tile{
    box-sizing: border-box;
    border-right: var(--testing-outline);
    border-bottom: var(--testing-outline);
    height: var(--tile-height);
    width: var(--tile-width);
    font-size: 1.3rem;
    font-weight: 500;
}

.main-container .game-container .tile .move__right{
    background-color: #000;
    width: 0%;
    height: 100%;
    display: block;
    
    animation-name: move__right;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;     
}


.main-container .game-container .tile.active{
    background-color: #000;
}
.main-container .game-container .tile .active{
    background-color: #000;
    width: 100%;
    height: 100%;
    display: block;
}


/* game container */

/* result container */
.result-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width: 15%;
}
/* result container */



/* contorls */

.controls-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.controls{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    margin-top: 5%;
    font-size: 2rem;    
}

.controls div{
    margin-bottom: 5%;
    outline: 1px solid black;
}


.controls .up:hover, #left:hover, #right:hover, .down:hover{
    cursor: pointer;
    font-weight: 600;
}    
.controls .horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.controls .horizontal span{    
    flex:1;
}

.controls .horizontal #left{
    border-right: 1px solid black;
}

.main-container .start{
    align-self: center;
}


/* contorls */

/* media queries */

@media only screen and (max-width: 600px) {
    body{
        width: 100%;
        height: 90%;
    }

    .main-container{
        width: 90%;
        height: 80%;
        flex-direction: column;
    }

    body .main-container .result-container{
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        align-self: center;
    }

    body .main-container .result-container div{
        flex:1;
        
    }

    .controls-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
  }
/* media queries */


@keyframes move__right {
    0% {
      width: 0%;
    }
    25% {
      width: 25%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 75%;
    }    
    100% {
        width: 100%;
    }
  }
@keyframes fill__out {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }    
    100% {
        width: 0%;
    }
  }