*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Clear';
    src: url('ClearSans-Regular.ttf') format('truetype');
}

html,body{
    height: 100%;
    width: 100%;
    font-size: 10px;
}

body{
    height: 100%;
    width: 100%;
    background-color: #faf8ef;
}

.wrapper{
    height: 620px;
    width: 500px;  
    justify-content: space-between !important;  
}

/* stats */
#stats{
    height: 80px;
    width: 100%;
    color: #776e65;
    font-weight: 700;
    font-family: 'Clear';
    justify-content: space-between !important;
}

#controls{
    width: 60%;
    height: 80px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

#title{
    height: 80px;
    width: 50%;
    font-size: 80px ;
    font-family: 'clear sans',helvetica neue,Arial,sans-serif;
    letter-spacing: 3px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    justify-content: flex-start !important;
}

#reset{
    height: 60%;
    width: 20%;
    margin-right: 5%;
    background-color: #776e65;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

#reset:active{
    transform: scale(0.98);
}
#score{
    border-radius: 0.5rem;
    color: #fff;
    background-color: #776e65;
    height: 100%;
    width: 50%;
    justify-content: stretch;
    text-align: center;
}

#score_text{
    margin-top: 5%;
    font-size: 1.5rem;
    height: 20%;
    width: 100%;
    justify-content: flex-end !important;
    color: antiquewhite;
}
#score_value{
    width: 100%     ;
    height: 80%;
    font-size: 3.5rem;
}
/* stats */

/* game */
#grid{
    position: relative;
    background-color: #bbada0;
    height: 500px;
    width: 500px;
    border-radius: 5px;
    color: wheat;
    font-size: 5.3rem;
    font-weight: 800;
    font-family: Helvetica, sans-serif;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;

}
.tile{
    width: 100px;
    height: 100px;
    background-color: rgba(238, 228, 218, 0.35);
    border-radius: 3px;
    box-shadow:  0 0 30px 10px transparent, inset 0 0 0 1px transparent;
    /* transition:all 0.3s linear; */
}

.tile span{
    display: block;
}

.tile.active{
    font-family:  "Clear Sans", "Helvetica Neue", Arial, sans-serif;;
    color: #776e65;
    font-size: 4.5rem;
    font-weight: 600;    
}
.tile.double{
    animation: grow 300ms ease 100ms;
    animation-fill-mode: backwards;    
}
.tile.born{
    animation: bornGrow 200ms ease 100ms;
    animation-fill-mode: backwards;
}

/* game */

/* banner */
#banner{
    display: none;
    background-color: rgba(238,228,218,.5);
    z-index: 100;
    color: #776e65;
    position: absolute;
    height: 500px;
    width: 500px;
    top: 0px;
    font-size: 5rem;
}

#banner  p{
    font-size: 2rem;
}

/* banner */

/* misc */

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes Dgrow {
    0% {height: 0px;}
    25% {height: 25px;}
    50% {height: 50px;}
    75% {height: 75px;}
    100%  {height: 100px;}
  }
@keyframes bornGrow {
    0% {transform: scale(0);opacity: 0;}
    100% { opacity: 1;transform: scale(1);}
  }
@keyframes grow {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
  }

/* media */
@media only screen and (max-width: 600px) {
    html,body{
        width: 100%;
        height: 80vh;
        margin: 0;
        padding: 0;
        font-size: 6px;
        overscroll-behavior: contain;
    }
    .wrapper{
        width: 80%;
        height: 100%;
        justify-content: space-around !important;
    }
  
    #stats{
        width: 340px;
        height: 20%;
        border-radius: 5px;
    }

    #score{
        height: 70%;
    }
    #reset{
        margin-left: 0;
        width: 25%;
        height: 50%;
        font-size: 1.5rem;
    }

    #title{
        font-size: 72px;
        margin-top: 30px;
    }
    
    #grid{
        width: 340px;
        height: 340px;
        
    }
    .tile{        
        width: 68px;
        height: 68px;
    }

    
    #banner{
        width: 340px;
        height: 340px;
        display: none;
        background-color: rgba(238,228,218,.5);
        z-index: 100;
        color: #776e65;
        position: absolute;
        top: 0px;
        font-size: 5rem;
    }

   
    

  }
/* media */